In [2]:
# Dependencies
import pandas as pd
import os

In [3]:
# File Paths
temp_csv = os.path.join("Data","Land_Temp","land_temps.csv")
export_csv = os.path.join("Data", "Aquaculture", "Exports.csv")
import_csv = os.path.join("Data", "Aquaculture", "Imports.csv")
catfish_trout_csv = os.path.join("Data", "Aquaculture", "Catfish_Trout.csv")

In [6]:
# Load DataFrames
temp_df = pd.read_csv(temp_csv)
exports_df = pd.read_csv(export_csv)
imports_df = pd.read_csv(import_csv)
domestic_df = pd.read_csv(catfish_trout_csv)

## Clean Imports/Exports

In [16]:
# Concat Dataframes
commercial_df = pd.concat([imports_df, exports_df])
# Drop Source Col
commercial_df.drop(labels="SOURCE_ID", axis=1, inplace=True)
# Split Attribute Description
attr_split_df = commercial_df.ATTRIBUTE_DESC.str.split(pat=", ", expand=True)
commercial_df["Direction"] = attr_split_df.loc[:,0]
commercial_df["Measure"] = attr_split_df.loc[:,1]


# commercial_df = pd.merge(left=commercial_df, right=attr_split_df, how="left", left_index=True, right_index=True)
# commercial_df.rename({"0":"Direction", "1":"Measure"}, inplace=True)

In [19]:
commercial_df

,HS_CODE,COMMODITY_DESC,GEOGRAPHY_CODE,GEOGRAPHY_DESC,ATTRIBUTE_DESC,UNIT_DESC,YEAR_ID,TIMEPERIOD_ID,AMOUNT,0,1
0,302110000.0,"TROUT (SALMO TRUTTA, S. CLARKI ETC) FRESH, CHI...",1,World,"US Import, QTY",KG,1989,1,46682,US Import,QTY
0,302110000.0,"TROUT (SALMO TRUTTA, S. CLARKI ETC) FRESH, CHI...",1,World,"US Import, QTY",KG,1989,1,46682,US Export,QTY
0,302110000.0,"TROUT (SALMO TRUTTA, S. CLARKI ETC) FRESH, CHI...",1,World,"US Export, QTY",KG,1989,2,17183,US Import,QTY
0,302110000.0,"TROUT (SALMO TRUTTA, S. CLARKI ETC) FRESH, CHI...",1,World,"US Export, QTY",KG,1989,2,17183,US Export,QTY
1,302110000.0,"TROUT (SALMO TRUTTA, S. CLARKI ETC) FRESH, CHI...",1,World,"US Import, QTY",KG,1989,2,37354,US Import,QTY
...,...,...,...,...,...,...,...,...,...,...,...
548421,301110090.0,"ORNAMENTAL FRESHWATER FISH, LIVE",7970,Malawi,"US Import, VLU",U.S.$,2015,10,2145,US Import,VLU
548422,301110090.0,"ORNAMENTAL FRESHWATER FISH, LIVE",7970,Malawi,"US Import, VLU",U.S.$,2016,2,2603,US Import,VLU
548423,301110090.0,"ORNAMENTAL FRESHWATER FISH, LIVE",7970,Malawi,"US Import, VLU",U.S.$,2016,4,5541,US Import,VLU
548424,301190000.0,"ORNAMENTAL FISH (OTHER THAN FRESHWATER), LIVE",7970,Malawi,"US Import, VLU",U.S.$,2012,1,2926,US Import,VLU
548425,301190000.0,"ORNAMENTAL FISH (OTHER THAN FRESHWATER), LIVE",7970,Malawi,"US Import, VLU",U.S.$,2015,4,4776,US Import,VLU

## Clean Temperature Data
- Fix Date 
-

## Data Aggregation
- Groupby country, species,